<script id="AdminMainView" type="text/html">
    <div class="AdminMainView">
        <ul class="nav nav-tabs">
            <li><a href="#setup">Setup</a></li>
            <li class="organization-tab organization"><a href="#organization">Organizations</a></li>
            <li class="SearchConfig-tab search-config"><a href="#search-config">Search Config</a></li>
            <li class="trigger-test-tab trigger-test"><a href="#trigger-test">Test</a></li>
            <li class="perf-tab perf"><a href="#perf">Perf</a></li>

        </ul>
        <div class="admincontainer">
        </div>
    </div>
</script>