<script id="AdminMainView" type="text/html">
<div class="AdminMainView">
	<ul class="nav nav-tabs">
      <li ><a href="#setup">Setup</a></li>
      <li class="organization-tab"><a href="#organization">Organizations</a></li>      
    </ul>
  <div class="admincontainer">
  </div>
</div>
</script>