<script id="AdminMainView" type="text/html">
<div class="AdminMainView">
  <header>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#"><img src="css/images/js-logo.png" /></a>
      	<a href="#" class="admin config">admin</a>
      	<a href="/adminMainView" class="admin org-admin">organization</a>
      </div>
     </div>
  </header>
  <div class="container">
	 <!--  <section class="sidenav-ctn">
	    
	  </section> -->
	  
	  <section class="contentview-ctn">
	    
	  </section>  
  </div>
</div>
</script>