<script id="CellPopup" type="text/html">
	<div class="CellPopup">

	</div>
</script>

<script id="CellPopup-inner" type="text/html">
	<div class="inner">
		<div class="title">
			<div class="columnName">{{title}}</div>
			<div class="contactName">{{contactName}}</div>
			{{#equal type "skill"}}
			<div class="operator-btn-group">
				<div class="btn-group">
					<label class="btn active" data-value="O">Any</label>
					<label class="btn" data-value="R">All</label>
					<label class="btn" data-value="N">None</label>
				</div>
			</div>
			{{/equal}}
		</div>

		<ul>
			{{#each names}}
				<li {{#if id}}data-id="{{id}}"{{/if}} {{#if isFilter}}class="filter"{{/if}}><span>{{name}}</span></li>
			{{/each}}
		</ul>
	</div>
</script>
