<script id="CellPopup" type="text/html">
	<div class="CellPopup">

	</div>
</script>

<script id="CellPopup-inner" type="text/html">
	<div class="inner">
		<div class="title">
			<div class="columnName">{{title}}</div>
			<div class="contactName">{{contactName}}</div>
		</div>

		<ul>
			{{#each names}}
				<li {{#if isFilter}}class="filter"{{/if}}><span>{{name}}<span></li>
			{{/each}}
		</ul>
	</div>
</script>
