<script id="ContentView" type="text/html">
<div class="ContentView">
  <div class="search-form">
    <input class="search-input input-medium search-query"  type="text" class="" autofocus />
    <button class="search-button btn" data-action="DO_SEARCH" type="submit">Search</button>
    <small class="search-info"></small>
  </div>
  
  <div class="search-result">
    ....
  </div>
</div>  
</script>
