<script id="ContentView" type="text/html">
<div class="ContentView">
  <div class="search-form">
    <input class="search-input input-medium search-query"  type="text" class="" autofocus />
    <button class="search-button btn" data-action="DO_SEARCH" type="submit">Search</button>
    <small class="search-info"></small>
  </div>

  <div class="search-result">
      <span class="actions">
            <label class="checkbox selectAll selected">
                <input name="selectAll" type="checkbox" checked > Select All
            </label>
            <button class="btn btnAddToSourcingProject hide">Add to Sourcing Project</button>
        </span>
      <div class="page"></div>
      <div class="tableContainer"></div>
      <div class="btn btnPopupColumns">+</div>
  </div>

</div>  
</script>
