<script id="ContactInfo" type="text/html">
    <div class="ContactInfo">
        <div class="control-group">
            <label>First Name:</label>
            <input name="FirstName" type="text" placeholder="First Name"/>
        </div>
        <div class="control-group">
            <label>Last Name:</label>
            <input name="LastName" type="text" placeholder="Last Name"/>
        </div>
        <div class="control-group">
            <label>Title:</label>
            <input name="Title" type="text" placeholder="Title"/>
            <label class="checkbox">
                <input name="curTitle" type="checkbox" value='true'> Current Title
            </label>
        </div>
    </div>
</script>
