<script id="ContactHeaderView" type="text/html">
    <div class="ContactHeaderView">
		<div class="headerTh {{name}}Th">
			<span class="desc glyphicon glyphicon-arrow-down"></span><span class="asc glyphicon glyphicon-arrow-up"></span>
			<span class="columnName">{{label}}</span>
			<div class="selectedItems">
				<span class="addFilter" styee="display:none">+&nbsp;add filter</span>
			</div>
		</div>
	</div>
</script>
