<script id="ContactFilterView" type="text/html">
	<div class="ContactFilterView">
		<div class="selectedItems contact">
			<span class="add" style="display:none">+&nbsp;new contact</span>
		</div>
		<div class="content contact">
			<div class="contact-btn-group">
				<div>
					<label class="filterLabels">Type</label>
					<div class="btn-group"  data-toggle="buttons">
						<label class="btn">
							<input type="radio" name="objectType" value="Contact"> Contact
						</label>
						<label class="btn">
							<input type="radio" name="objectType" value="Candidate"> Candidate
						</label>
						<label class="btn active">
							<input type="radio" name="objectType" value="All"> All
						</label>
					</div>
				</div>
				<div>
					<label class="filterLabels">Status</label>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn">
							<input type="radio" name="status" value="Active"> Active
						</label>
						<label class="btn">
							<input type="radio" name="status" value="Inactive"> Inactive
						</label>
						<label class="btn active">
							<input type="radio" name="status" value="All"> All
						</label>
					</div>
				</div>
				<div class="btn btnSearchForPerson">
					Find Person
					<i class="glyphicon glyphicon-chevron-down"></i>
				</div>
			</div>
			<div class="personFields">
				<div class="contactRow"><span>First Name:</span><input name="FirstName" type="text" placeholder="First Name"/>
					<label class="clear"><i></i></label>
				</div>
				<div class="contactRow"><span>Last Name:</span><input name="LastName" type="text" placeholder="Last Name"/>
					<label class="clear"><i></i></label>
				</div>
				<div class="contactRow"><span>Email:</span><input name="Email" type="text" placeholder="Email"/>
					<label class="clear"><i></i></label>
				</div>
				<div class="contactRow"><span>Title:</span><input type="text"  name="Title"  placeholder="Title"/>
					<label class="clear"><i></i></label>
				</div>
			</div>
		</div>
	</div>
</script>
<script id="ContactFilterView-selectedItem-add" type="text/html">
	<span class="item" data-name="{{name}}">
		<span class="text">{{name}}{{#if min}}&nbsp;&nbsp;&nbsp;({{min}}){{/if}} </span>
		<span class="clear icon-fa fa-times-circle"></span>
	</span>
</script>