<script id="CustomFilterNumber" type="text/html">
	<div class="CustomFilterNumber">
		<div class="editContainer hide">
			<ul class="operation">
			  <li class="operation-item active" data-oper="between">Is between</li>
			  <li class="operation-item" data-oper="gt">Greater than</li>
			  <li class="operation-item" data-oper="lt">Less than</li>
			</ul>
			
			<div class="input-containers">
				<input name="value" class="valueInput" value=""/>
				<div class="alert alert-warning hide">Enter Number</div>
				<div class="alert alert-warning hide rangeError">Should be less than below value</div>
				<input name="value1"  class="valueInput" value=""/>
				<div class="alert alert-warning hide">Enter Number</div>
			</div>
			
			<div class="btnApplyValue">Apply</div>
			<div class="cb"></div>
		</div>
		<div class="viewContainer hide">
			<div class="operValue" data-oper=""></div>
			<div class="value-containers">
				<div class="value resultValue" data-value=""></div>
				<div class="value resultValue1 hide" data-value=""></div>
			</div>
			<div class="cb"></div>
		</div>
	</div>
</script>
