<script id="CustomFilterBoolean" type="text/html">
	<div class="CustomFilterBoolean">
		<div class="editContainer hide">
			<div class="btn-group">
				<button class="btn " data-mode="1">Yes</button>
				<button class="btn active" data-mode="0">No</button>
			</div>
		</div>
		<div class="viewContainer hide">
			<div class="valueLabel"></div>
		</div>
	</div>
</script>
