<script id="CustomFilterPopup" type="text/html">
	<div class="CustomFilterPopup hide">
		<div class="CustomFilterPopup-slider">
			<div class="slider-wrap">
				<div class="slider-line line1"></div>
				<div class="slider-line line2"></div>
				<div class="slider-line line3"></div>
			</div>
		</div>
		<div class="CustomFilterPopup-header">
			<b>Power</b>Search
		</div>
		<div class="CustomFilterPopup-body">
			<div class="btn-group customSearchMode">
				<button class="btn active" data-mode="advanced">Advanced</button>
				<button class="btn" data-mode="saved">Saved</button>
			</div>
			<ul class="filters-content">
			</ul>
			<ul class="saved-content hide">
				
			</ul>
		</div>
	</div>
</script>

<script id="CustomFilterPopup-filter" type="text/html">
	<li class="filter-item" data-name="{{name}}">
		<div class="filter-item-header">
			<span class="left-side">
				<span class="icon-fa fa-chevron-right"></span>
				<span class="filter-item-label">{{label}}</span>
			</span>
			<span class="icon-fa fa-times clearAll"></span>
		</div>
		<div class="filter-item-container"></div>
	</li>
</script>