<script id="Education" type="text/html">
    <div class="Education sideSectionContent">
    </div>
</script>

<script id="Education-detail" type="text/html">
    <div class="resultInfo">
        Result size: <span class="result-count"></span> |
        Duration: <span class="result-duration"></span> ms
    </div>

    <ul class="educationList">
        <li class="all"  data-name="ALL"><label><input type="checkbox"/><span>Any Education</span></label></li>
        <li >
            <div class="control-group">
                <input name="education" type="text" placeholder="Education"/>
            </div>
        </li>

        {{#each educations}}
            <li data-name="{{name}}"><label><input type="checkbox"/><span>{{name}}&nbsp;</span>(<span class="validCount"></span>{{count}})</label></li>
        {{/each}}
        <li class="btns">
            <span data-show="more"><i class="icon-arrow-down" ></i>more</span>
    		<span class="{{hide educations 6}} " data-show="less"><i class="icon-arrow-up" data-show="less"></i>less<span>
        </li>
    </ul>
</script>

<script id="Education-add" type="text/html">
    {{#each educations}}
        <li style="display: none" class="toShow"  data-name="{{name}}"><label><input type="checkbox"/><span>{{name}}&nbsp;</span>(<span class="validCount"></span>{{count}})</label></li>
    {{/each}}
</script>
