<script id="FilterLocation" type="text/html">
  <div class="FilterLocation">
	<div class="selectedItems location">
        	<span class="item">Ernst Blof<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="add">+&nbsp;new location</span>
        </div>
        <div class="content location">
        		{{#each locations}}
        		<div class="locationRow"><span class="contentText">{{name}}</span></div>
        		{{/each}}
        </div>
   </div>
</script>