<script id="FilterEducation" type="text/html">
  <div class="FilterEducation">
	<div class="selectedItems education">
        	<span class="add" data-auto-complete="true"  style="display:none">+&nbsp;new education</span>
        	<span class="show autoCompleteContainer">
        		<input type="text" class="autoComplete" data-type="education" placeholder="Enter a education"/>
        		<i class="clear glyphicon glyphicon-remove"></i>
        	</span>
        </div>
      <div class="content education">
          <div class="educationRow sliderRow">
              <span class="labelText">min years:</span>
              <div class="sliderBarContainer">
                  <div class="progress">
                      <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                  </div>
                  <div class="switch-icon">7</div>
              </div>
          </div>

          <div class="autoCompleteList">
          	 <div class="center">loading...</div>
    	     {{#each educations}}
    	      <div class="educationRow"><span class="contentText" data-name="{{name}}">
				<span class="itemName">{{name}}</span>
				<span class="count">({{count}})</span></span>
			  </div>
    	     {{/each}}
	      </div>
      </div>
   </div>
</script>