<script id="FilterContact" type="text/html">
	<div class="selectedItems contact">
        	<span class="item">Ernst Blof<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="addContact">+&nbsp;new contact</span>
        </div>
        <div class="content contact">
        
        	<div class="contactRow"><span>first:</span><input type="text" /></div>
        	<div class="contactRow"><span>last:</span><input type="text" /></div>
        	<div class="contactRow"><span>email:</span><input type="text" /></div>
        	<div class="contactRow"><span>title:</span><input type="text" /></div>
        	<div class="contactRow"><input type="button" value="Save" class="save"/></div>
    
        </div>
</script>