<script id="FilterContact" type="text/html">
  <div class="FilterContact">
	<div class="selectedItems contact">
        	<span class="add">+&nbsp;new contact</span>
        </div>
        <div class="content contact" style="display:none">
        	<div class="contactRow"><span>first:</span><input name="FirstName" type="text" /></div>
        	<div class="contactRow"><span>last:</span><input name="LastName" type="text" /></div>
        	<div class="contactRow"><span>email:</span><input name="Email" type="text" /></div>
        	<div class="contactRow"><span>title:</span><input type="text"  name="Title"  /></div>
        	<div class="contactRow"><input type="button" value="Save" class="save"/></div>
        </div>
  </div>
</script>