<script id="FilterEmployer" type="text/html">
  <div class="FilterEmployer">
	<div class="selectedItems employer">
        	<span class="item">Ernst Blof<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="add">+&nbsp;new company</span>
        </div>
        <div class="content employer" >
        	<div class="employerRow"><span class="labelText">min years:</span>
	        	     <div class="sliderBarContainer">
	        	       <div class="progress">
						  <div class="progress-bar progress-bar-info" style="width: 20%"></div>
						</div>
						 <div class="switch-icon">7</div>
					</div>
        	     </div>
        	     {{#each companies}}
        	     <div class="employerRow"><span class="contentText">{{name}}</span></div>
        	     {{/each}}
        </div>
   </div>
</script>