<script id="filterPanel" type="text/html">
  <div class="Filter">	
	<div class="popover bottom fade in" 
		style="top:{{position.top}}px;left:{{position.left}}px;">
      <div class="arrow"></div>
      
      <div class="popover-content">
      </div>
      
    </div>
  </div>
</script>
<script id="filterPanel-selectedItem-add" type="text/html">
    <span class="item" data-name="{{name}}">{{name}}<span class="clear">&times;</span></span>
</script>
<script id="filterPanel-autoComplete-list" type="text/html">
	{{#each results}}
	  <div class="{{../type}}Row"><span class="contentText">{{name}}</span></div>
	{{/each}}
</script>