<script id="FilterLocation" type="text/html">
  <div class="FilterLocation">
	<div class="selectedItems location">
        	<span class="item">Ernst Blof<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="add">+&nbsp;new location</span>
        </div>
        <div class="content location">
        	     <div class="skillRow"><span class="contentText">Atlanta</span></div>
        	     <div class="skillRow"><span class="contentText">Austin</span></div>
        	     <div class="skillRow"><span class="contentText">Los Angeles</span></div>
        	     <div class="skillRow"><span class="contentText">New York</span></div>
        </div>
   </div>
</script>