<script id="FilterSkill" type="text/html">
  <div class="FilterSkill">
	<div class="selectedItems skill">
        	<span class="item">Ernst Blof<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="item">Ernst Blofeld<span class="clear">&times;</span></span>
        	<span class="add">+&nbsp;new skill</span>
        </div>
        <div class="content skill">
        	<div class="skillRow"><span class="labelText">min years:</span>
	        	     <div class="progressContainer">
	        	       <div class="progress">
						  <div class="progress-bar progress-bar-info" style="width: 20%"></div>
						</div>
						 <div class="switch-icon">7</div>
					</div>
        	     </div>
        	     
        	     <div class="skillRow"><span class="contentText">Lua</span></div>
        	     <div class="skillRow"><span class="contentText">Object C</span></div>
        </div>
   </div>
</script>