<script id="FilterContact" type="text/html">
  <div class="FilterContact">
	<div class="selectedItems contact">
        	<span class="add" style="display:none">+&nbsp;new contact</span>
        </div>
        <div class="content contact">
        	<div class="contactRow"><span>First Name:</span><input name="FirstName" type="text" placeholder="First Name"/>
                <i class="clear glyphicon glyphicon-remove"></i>
            </div>
        	<div class="contactRow"><span>Last Name:</span><input name="LastName" type="text" placeholder="Last Name"/>
                <i class="clear glyphicon glyphicon-remove"></i>
            </div>
        	<div class="contactRow"><span>Email:</span><input name="Email" type="text" placeholder="Email"/>
                <i class="clear glyphicon glyphicon-remove"></i>
            </div>
        	<div class="contactRow"><span>Title:</span><input type="text"  name="Title"  placeholder="Title"/>
                <i class="clear glyphicon glyphicon-remove"></i>
            </div>
        	<div class="contactRow">
                <a href="#" class="save">Press Enter to add contact</a>
        	</div>
        </div>
  </div>
</script>