<script id="GenericFilterView" type="text/html">
	<div class="GenericFilterView rootFilterContainer">
		<div class="selectedItems {{filterInfo.name}}">
			<span class="add separateLine" style="display:none"></span>
			<span class="show autoCompleteContainer">
				<input type="text" class="autoComplete" data-type="{{filterInfo.name}}" placeholder="Enter a {{filterInfo.name}}"/>
				<label class="clear"><i></i></label>
			</span>
		</div>
		<div class="content custom">
			<div class="{{filterInfo.name}}Row customRow sliderRow" style="display:none">
				<span class="labelText">min years:</span>
			
				<div class="sliderBarContainer">
					<div class="progress">
						<div class="progress-bar progress-bar-info" style="width: 20%"></div>
					</div>
					<div class="switch-icon">7</div>
				</div>
			</div>
			<div class="autoCompleteList">
				<div class="center">loading...</div>
				{{#each data}}
					<div class="customRow">
						<span class="contentText" data-name="{{name}}">
							<span class="itemName">{{name}}</span>
							<span class="count">({{count}})</span>
						</span>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</script>