<script id="HeaderPopup" type="text/html">
	<div class="HeaderPopup popover bottom ">
		<div class="arrow"></div>
	
		<div class="popover-content">
		</div>
		<div class="duration"></div>
	</div>
</script>
