<script id="Location" type="text/html">
    <div class="Location sideSectionContent">
        <div class="control-group">
           <input type="checkbox" name="radiusFlag"/>
           <span class="text">Search within </span>
           <input type="text" name="radius" class="radius"/>
           <span class="text">miles</span>
        </div>
        <div class="control-group">
            <label>Zip:</label>
            <input name="Zip" type="text" placeholder="Zip"/>
            <span class="clear">&times;</span>
        </div>
        <div class="control-group">
            <label>City:</label>
            <input name="City" type="text" placeholder="City"/>
            <span class="clear">&times;</span>
        </div>
        <div class="control-group">
            <label>State:</label>
            <input name="State" type="text" placeholder="State"/>
            <span class="clear">&times;</span>
        </div>
    </div>
</script>
