<script id="MainView" type="text/html">
	<div class="MainView  {{#unless showHeader}}noHeader{{/unless}}">
		<header>
			<div class="navbar">
				<div class="navbar-inner">
					<!-- <a class="brand" href="{{contextPath}}/"><img src="css/images/js-logo.png" /></a> -->
					<a class="brand" href="{{contextPath}}/"><img src="{{contextPath}}/css/images/JSLogo.png" /></a>
					<a href="{{contextPath}}/admin/" class="admin config">admin</a>
					<!--<button class="btn admin btn-primary btn-sm clear-all" disabled>Clear All</button>-->
					<a href="{{contextPath}}/" class="admin home hide">home ({{jssVersion}})</a>
					<span class="sf-info"></span>
				</div>
			</div>
		</header>
		<div class="container">
			<section class="contentview-ctn">
			</section>
		</div>
	</div>
</script>