<script id="MainView" type="text/html">
<div class="MainView">
  <header>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">JobScience Search</a>
      </div>
     </div>
  </header>
  
  <section class="sidenav-ctn">
    
  </section>
  
  <section class="contentview-ctn">
    
  </section>  
</div>
</script>