<script id="MainView" type="text/html">
<div class="MainView">
  <header>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#"><img src="css/images/js-logo.png" /></a>
      	<a href="/admin" class="admin">admin</a>
      </div>
     </div>
  </header>
  <div class="container">
	  <section class="sidenav-ctn">
	    
	  </section>
	  
	  <section class="contentview-ctn">
	    
	  </section>  
  </div>
</div>
</script>