<script id="OrganizationInfo" type="text/html">
    <div class="OrganizationInfo">
        <div class="tab-content">

        </div>
    </div>
</script>

<script id="OrganizationInfo-content" type="text/html">
        <div class="OrganizationInfo-content">
        <h3 class="title">Setup</h3>
        <div class="setup-content">
            <table class="content-table">
                <!--<tr><td class="left"><span>Import base data and tables: </span></td><td class="right"><button class="btn btn-primary save import">Import</button></td>
                </tr>-->
                <tr class="btn_tr">
                	<td class="left"><span>1. </span></td><td class="right"><button class="btn btn-primary  extra" disabled>Create Extra Tables</button></td>
                 	<td class="alert-td"><div class="alert alert-danger transparent"></div></td>
                </tr>
                <tr class="btn_tr">
                	<td class="left"><span>2.  </span></td><td class="right"><button class="btn btn-primary  index" disabled>Create Index Columns</button></td>
               	    <td class="alert-td"><div class="alert alert-danger transparent"></div></td>
                </tr>
                <tr class="btn_tr">
                	<td class="left"><span>3. </span></td><td class="right"><button class="btn btn-primary  resume" disabled>Create Index Resume</button>
                                     <button class="btn btn-primary status hide">Get Status</button><span class="index-info info"></span></td>
                   <td class="alert-td">
                   <div class="progress db-status-bar">
			         <div class="progress-bar progress-bar-success">
			         </div>
			         <span class="sr-only db-percentage"></span>
			         <span class="db-count-info"></span>
			       </div>
			       </td>
			       <td>
                  	 <div class="alert alert-danger transparent"></div>
                   </td>
                </tr>
             </table>
         </div>
         
        <h3 class="title">Organization Info</h3>
        <div class="baseInfo-content">
            <table class="content-table">
                <tr><td class="left"><span>Name: </span></td><td class="right"><input type="hidden" name="id" value="{{data.id}}"/><input type="text" name="name" value="{{data.name}}" class="text" placeholder="Name" autofocus="autofocus"/></td><td><div class="alert alert-error hide msg name">Please type name value.</div></td>
                </tr>
                <tr><td class="left"><span>Schema Name: </span></td><td class="right"><input type="text" name="schemaname" value="{{data.schemaname}}" class="text" placeholder="Schema Name" /></td><td><div class="alert alert-error hide msg schemaname">Please type schemaname value.</div></td>
                </tr>
                <tr><td class="left"><span>SFID: </span></td><td class="right"><input type="text" name="sfid" value="{{data.sfid}}" class="text" placeholder="SFID" /></td><td><div class="alert alert-error hide msg sfid">Please Add some approvers.</div></td>
                </tr>
                <tr><td class="left"><span>Instance Url: </span></td><td class="right"><input type="text" name="instance_url" value="{{data.instance_url}}" class="text" placeholder="Instance Url" /></td><td><div class="alert alert-error hide msg sfid">Please Add some approvers.</div></td>
                </tr>
            </table>
        </div>
        <div class="btns">
            <button class="btn btn-primary save">Save</button>
            <button class="btn cancel">Cancel</button>
            </div>
        <h3 class="title">Other Info</h3>
        <div class="locals">
            <div class="header">
                <span>Locals</span>
                <div class="line"></div>
            </div>
            <div class="setting form-inline">
              <table class="content-table">
                <tr><td class="left"><span>Distance in: </span></td><td class="right"><select name="local_distance">
                     <option value="k">Kilometers</option>
                     <option value="m">Meters</option>
                </select></td>
                </tr>
            </table>
            </div>
            <div class="setting form-inline">
            <table class="content-table">
           <tr>
                <td class="left"><span>Date format: </span></td>
                <td class="right"><select name="local_date">
                     <option>YYYY-MM-DD</option>
                     <option>MM/DD/YYYY</option>
                     <option>YYYYMMDD</option>
                  </select></td>
           </tr>     
          </table>
            </div>
        </div>

        <div class="actions">
            <div class="header">
                <span>Actions</span>
                <div class="line"></div>
            </div>
            <div class="setting form-inline">
            <table class="content-table">
           <tr>
                <td class="left"><span>Show Actions: </span></td>
                <td class="right"><label>
                    <input type="checkbox" name="action_add_to_sourcing"/>
                    <span>"Add To Source Project"</span>
                </label></td>
               <td><label>
                    <input type="checkbox" name="action_favorite"/>
                    <span>"Save As Favorites"(Not implement yet.)</span>
                </label></td>
                </tr>     
          </table>
            </div>
        </div>

        <div class="btns">
            <button class="btn btn-primary save">Save</button>
            <button class="btn cancel">Cancel</button>
        </div>
</script>

<script id="OrganizationInfo-li" type="text/html">
    <li class="active"><a href="{{url}}">{{type}}</a></li>
</script>