<script id="Organization" type="text/html">
<div class="Organization">
<ul class="nav nav-tabs">
    <li ><a href="#organization">Organization</a></li>
    <li ><a href="#administration">Administration</a></li>
  </ul>
<h3 class="title">Organization</h3>
  <div class="tab-content">
    
  </div>
</div>
</script>

<script id="Organization-list" type="text/html">
<div >
      <button class="btn btn-primary add">Add</button>
      <button class="btn home">Cancel</button>
    </div>
    <div>
  <table class="table">
    <thead>
      <tr>
        <th style="">name</th>
        <th style="">schemaname</th>
        <th style="">sfid</th>
        <th style="width:35px"></th>
      </tr>
    </thead>
    <tbody>
      {{#each list}}
      <tr >
        <td class="name"><span class="edit" data-entity="{{id}}"><a href="#organization/edit/{{id}}">{{name}}</a></span>
        </td>
        <td>{{schemaname}}</td>
        <td>{{sfid}}</td>
        <td><i class="f-icon-remove icon-remove del" data-entity="{{id}}"></i></td>
      </tr>
      {{/each}}
    </tbody>    
  </table>
  </div>
</script>

<script id="Organization-content" type="text/html">
	<div >
      <div >
      <table class="content-table">
	      <tr><td class="left"><span>name: </span></td><td class="right"><input type="hidden" name="id" value="{{data.id}}"/><input type="text" name="name" value="{{data.name}}" class="text" placeholder="name" autofocus="autofocus"/></td><td><div class="alert alert-error hide msg name">Please type name value.</div></td>
	      <tr>
	      <tr><td class="left"><span>schemaname: </span></td><td class="right"><input type="text" name="schemaname" value="{{data.schemaname}}" class="text" placeholder="schemaname" /></td><td><div class="alert alert-error hide msg schemaname">Please type schemaname value.</div></td>
	      <tr>
	      <tr><td class="left"><span>sfid: </span></td><td class="right"><input type="text" name="sfid" value="{{data.sfid}}" class="text" placeholder="sfid" /></td><td><div class="alert alert-error hide msg sfid">Please Add some approvers.</div></td>
	      <tr>
      </table>
    </div>
    <div class="btns">
      <button class="btn btn-primary save ">Save</button>
      <button class="btn cancel">Cancel</button>
    </div>
</script>