<script id="OrganizationInfo" type="text/html">
    <div class="OrganizationInfo">
        <div class="tab-content">

        </div>
    </div>
</script>

<script id="OrganizationInfo-content" type="text/html">
        <div class="OrganizationInfo-content">
        <h3 class="title">Setup</h3>
        <div class="setup-content">
            <table class="content-table">
                <!--<tr><td class="left"><span>Import base data and tables: </span></td><td class="right"><button class="btn btn-primary save import">Import</button></td>
                </tr>-->
                <tr class="btn_tr">
                	<td class="left"><span>1. </span></td><td class="right"><button class="btn btn-primary  extra" disabled>Create Extra Tables</button></td>
                 	<td class="alert-td"><div class="alert alert-danger transparent"></div></td>
                </tr>
               
                <tr class="btn_tr">
                	<td class="left"><span>2. </span></td><td class="right"><button class="btn btn-primary  resume" disabled>Create Index Resume</button>
                                     <!-- <button class="btn btn-primary status hide">Get Status</button> --><span class="index-info info"></span></td>
                   <td class="alert-td">
                   <div class="progress db-status-bar">
			         <div class="progress-bar progress-bar-success">
			         </div>
			         <span class="db-percentage"></span>
			         <span class="db-count-info"></span>
			       </div>
			       </td>
			       <td>
                  	 <div class="alert alert-danger transparent"></div>
                   </td>
                </tr>
                
              <tr class="btn_tr">
                  <td class="left"><span>3. </span></td><td class="right"><button class="btn btn-primary  sfid" disabled>copy sfid</button>
                                   <span class="index-info info"></span></td>
                   <td class="alert-td">
                   <div class="progress sfid-status-bar">
               <div class="progress-bar progress-bar-success">
               </div>
               <span class="sfid-percentage"></span>
               <span class="sfid-count-info"></span>
             </div>
             </td>
             <td>
                     <div class="alert alert-danger transparent"></div>
                   </td>
                </tr>
                
                  <tr class="btn_tr">
                  <td class="left"><span>4. </span></td><td class="right"><button class="btn btn-primary  contact-tsv" disabled>Create contact_tsv</button>
                                   <span class="index-info info"></span></td>
                   <td class="alert-td">
                   <div class="progress contact-tsv-status-bar">
                     <div class="progress-bar progress-bar-success">
                     </div>
                     <span class="contact-tsv-percentage"></span>
                     <span class="contact-tsv-count-info"></span>
                   </div>
                   </td>
                   <td>
                     <div class="alert alert-danger transparent"></div>
                   </td>
                </tr>
                
                 <tr class="btn_tr" id="index">
                    <td class="left"><span>5.  </span></td><td class="right"><button class="btn btn-primary  contact-index" disabled>Create contact_ex Indexes</button></td>
                      <td class="alert-td">
                       <div class="progress contact-index-status-bar">
                       <div class="progress-bar progress-bar-success">
                       </div>
                       <span class="contact-index-percentage"></span>
                     </div>
                   </td>
                    <td class="alert-td"><div class="alert alert-danger transparent"></div></td>
                </tr>
                
                <tr class="btn_tr">
                   <td class="left"><span>6. </span></td><td class="right"><button class="btn btn-primary  ex_grouped_skills ex_grouped" disabled>Create ex_grouped_skills</button>
                   </td>
                   <td>
                     <div class="alert alert-danger transparent"></div>
                   </td>
                </tr>
                <tr class="btn_tr">
                   <td class="left"><span>7. </span></td><td class="right"><button class="btn btn-primary  ex_grouped_educations ex_grouped" disabled>Create ex_grouped_educations</button>
                   </td>
                   <td>
                     <div class="alert alert-danger transparent"></div>
                   </td>
                </tr>
                <tr class="btn_tr">
                   <td class="left"><span>8. </span></td><td class="right"><button class="btn btn-primary  ex_grouped_employers ex_grouped" disabled>Create ex_grouped_employers</button>
                   </td>
                   <td>
                     <div class="alert alert-danger transparent"></div>
                   </td>
                </tr>
                <tr class="btn_tr">
                   <td class="left"><span>9. </span></td><td class="right"><button class="btn btn-primary  ex_grouped_locations ex_grouped" disabled>Create ex_grouped_locations</button>
                   </td>
                   <td>
                     <div class="alert alert-danger transparent"></div>
                   </td>
                </tr>
                 <tr class="btn_tr">
                  <td class="left"><span>10.  </span></td><td class="right"><button class="btn btn-primary  index" disabled>Create Index Columns</button></td>
                    <td class="alert-td">
                     <div class="progress index-status-bar">
                 <div class="progress-bar progress-bar-success">
                 </div>
                 <span class="db-percentage"></span>
               </div>
             </td>
                    <td class="alert-td"><div class="alert alert-danger transparent"></div></td>
                </tr>
                
                <tr class="btn_tr">
                  <td class="left"><span>11.  </span></td><td class="right"><button class="btn btn-primary  remove-wrong-index" disabled>Remove Wrong indexes</button></td>
                  <td class="alert-td" colspan="2"><div class="alert alert-danger transparent"></div></td>
                </tr>
             </table>
         </div>
         
        <h3 class="title">Organization Info</h3>
        <div class="baseInfo-content">
            <table class="content-table">
                <tr><td class="left"><span>Name : </span></td><td class="right"><input type="hidden" name="id" value="{{data.id}}"/><input type="text" name="name" value="{{data.name}}" class="text" placeholder="Name" autofocus="autofocus"/></td><td><div class="alert alert-error hide msg name">Please type name value.</div></td>
                </tr>
                <tr><td class="left"><span>Schema Name : </span></td><td class="right"><input type="text" name="schemaname" value="{{data.schemaname}}" class="text" placeholder="Schema Name" /></td><td><div class="alert alert-error hide msg schemaname">Please type schemaname value.</div></td>
                </tr>
                <tr><td class="left"><span>SFID : </span></td><td class="right"><input type="text" name="sfid" value="{{data.sfid}}" class="text" placeholder="SFID" /></td><td></td>
                </tr>
                <tr><td class="left"><span>Instance Url : </span></td><td class="right"><input type="text" name="instance_url" value="{{data.instance_url}}" class="text" placeholder="Instance Url" /></td><td></td>
                </tr>
                <tr><td class="left"><span>Apex Resume URL : </span></td><td class="right"><input type="text" name="apex_resume_url" value="{{data.apex_resume_url}}" class="text" placeholder="Apex Resume URL" /></td><td></td>
                </tr>
                <tr><td class="left"><span>Canvas App Secret : </span></td><td class="right"><input type="text" name="canvasapp_secret" value="{{data.canvasapp_secret}}" class="text" placeholder="Canvas App Secret" /></td><td></td>
                
                <tr><td class="left"><span>Userlist Feature : </span></td>
                    <td class="right">
                         <select name="config_userlistFeature">
                            <option value="true">enabled</option>   
                            <option value="false">disabled</option>                    
                        </select>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="btns">
            <button class="btn btn-primary save">Save</button>
            <button class="btn cancel">Cancel</button>
        </div>

        <h3 class="title">Organization Search Config Info</h3>
        <div class="baseInfo-content ">
            <textarea class="form-control " rows="7" style="width:50%" name="searchConfig">

            </textarea>
        </div>
        <div class="btns">
            <button class="saveSearchConfig btn btn-primary">Save</button>
            <button class="resetSearchConfig btn">Reset</button>
        </div>
        <h3 class="title">Other Info</h3>
        <div class="locals">
            <div class="header">
                <span>Locals</span>
                <div class="line"></div>
            </div>
            <div class="setting form-inline">
              <table class="content-table">
                <tr><td class="left"><span>Distance in: </span></td><td class="right"><select name="local_distance">
                     <option value="k">Kilometers</option>
                     <option value="m">Meters</option>
                </select></td>
                </tr>
            </table>
            </div>
            <div class="setting form-inline">
            <table class="content-table">
           <tr>
                <td class="left"><span>Date format: </span></td>
                <td class="right"><select name="local_date">
                     <option>YYYY-MM-DD</option>
                     <option>MM/DD/YYYY</option>
                     <option>YYYYMMDD</option>
                  </select></td>
           </tr>     
          </table>
            </div>
        </div>

        <div class="actions">
            <div class="header">
                <span>Actions</span>
                <div class="line"></div>
            </div>
            <div class="setting form-inline">
            <table class="content-table">
           <tr>
                <td class="left"><span>Show Actions: </span></td>
                <td class="right"><label>
                    <input type="checkbox" name="action_add_to_sourcing"/>
                    <span>"Add To Source Project"</span>
                </label></td>
               <td><label>
                    <input type="checkbox" name="action_favorite"/>
                    <span>"Save As Favorites"(Not implement yet.)</span>
                </label></td>
            </tr>    
            <tr>
              <td class="left"></td>
               <td>
                 <label>
                    <input type="checkbox" name="skill_assessment_rating"/>
                    <span>"Skill Assessment Rating"</span>
                 </label>
               </td>
               <td>
                 <label>
                    <input type="checkbox" name="advanced_auto_complete"/>
                    <span>"advancedAutoComplete"</span>
                 </label>
               </td>
            </tr> 
          </table>
            </div>
        </div>

        <div class="btns">
            <button class="btn btn-primary save">Save</button>
            <button class="btn cancel">Cancel</button>
        </div>
        
        <div class="disable-btns">
          <button class="btn btn-primary disable-indexes">Disable Indexes</button>
        </div>
         
        <div><button class="btn btn-primary multiply">Multiply Data</button></div>
       
       <div class="control-group">
            <div class="input-div">
               <input name="time" type="text" placeholder="Times" value="1" maxlength="2" readOnly>
            </div>
            <i class="glyphicon glyphicon-chevron-down drawdown"></i>
            <div class="time-list" style="">
               <ul>
                <li data-time="1"><span>1<span></li>
                <li data-time="2"><span>2<span></li>
                <li data-time="3"><span>3<span></li>
                <li data-time="4"><span>4<span></li>
                <li data-time="5"><span>5<span></li>
                <li data-time="6"><span>6<span></li>
                <li data-time="7"><span>7<span></li>
                <li data-time="8"><span>8<span></li>
                <li data-time="9"><span>9<span></li>
                <li data-time="10"><span>10<span></li>
              </ul>
           </div>
        </div>
        
         <div class="control-group">
            <div class="input-div">
               <input name="tableName" type="text" placeholder="tableName" value="contact" maxlength="2" readOnly>
            </div>
            <i class="glyphicon glyphicon-chevron-down drawdown"></i>
            <div class="table-list" style="">
               <ul>
                <li data-table="contact"><span>contact<span></li>
                <li data-table="ts2__employment_history__c"><span>ts2__employment_history__c<span></li>
                <li data-table="ts2__skill__c"><span>ts2__skill__c<span></li>
                <li data-table="ts2__education_history__c"><span>ts2__education_history__c<span></li>
              </ul>
           </div>
        </div>
        <div class="multiply-info">
          Times:<span class="time"></span>
          <span class="perform"></span>
          /<span class="total"></span>
        </div>
        <div class="db-info">
         
        </div>
         <div class="enable-btns">
          <button class="btn btn-primary enable-indexes">Enable Indexes</button>
          <span class="alert alert-info">Please use Create Indexes Buttons to recreate the indexes.</span>
        </div>
        <div class="drop-btns">
          <button class="btn btn-primary drop-ex">Drop ex_xxx Tables</button>
          <span class="alert alert-info">ex_xxx Tables have been dropped successfully.Use dev setup to recreate them.</span>
        </div>
</script>

<script id="OrganizationInfo-li" type="text/html">
    <li class="OrganizationInfo active"><a href="{{url}}">{{type}}</a></li>
</script>