<script id="Pagination" type="text/html">
	<div class="Pagination">

	</div>
</script>

<script id="Pagination-detail" type="text/html">
	<div>
		<div class="pageSelect">
			<div class="value" data-value="15">15</div>
			<i class="glyphicon glyphicon-chevron-down"></i>
			<div class="options">
				<div class="option" data-value="15">15</div>
				<div class="option" data-value="30">30</div>
				<div class="option" data-value="50">50</div>
				<div class="option" data-value="100">100</div>
				<div class="option" data-value="300">300</div>
				<div class="option" data-value="500">500</div>
			</div>
		</div>
		<ul class="pagination">
			<li class="firstPage {{#equal 1 pageIdx}}disabled{{/equal}}"><a class="first">&iota;&lt;</a></li>
			<li class="prevPage {{#equal 1 pageIdx}}disabled{{/equal}}"><a class="prev">&lt;</a></li>
			<li class="nextPage {{#unless hasNextPage}}disabled{{/unless}}"><a class="next">&gt;</a></li>
			<li class="lastPage {{#unless hasNextPage}}disabled{{/unless}}"><a class="last">&gt;&iota;</a></li>
		</ul>
		
	</div>
</script>
