<script id="PerfView" type="text/html">
    <div class="PerfView">
        <h3>Perf</h3>
        <div class="info">
            <span>Max Time:</span>
            <span class="max">{{numberFormat data.max}}ms</span>
        </div>
        <div class="info">
            <span>Avg Time:</span>
            <span class="avg">{{numberFormat data.mean}}ms</span>
        </div>
        <div class="info">
            <span>Min Time:</span>
            <span class="min">{{numberFormat data.min}}ms</span>
        </div>
    </div>
</script>
