<script id="PerfView" type="text/html">
    <div class="PerfView">

	  <div class="perf-body">
          <div class="perf-search perf-values row">
              <span>
                  <label>Select Org:</label>

                  <select name="org" style="display: inline-block; width:155px; height: 30px; line-height: 30px">
                      {{#each orgs}}
                          <option value="{{name}}">{{name}}</option>
                      {{/each}}
                  </select>
              </span>
             <button class="btn btn-primary all ">GO All</button>
          </div>
    
    	<h3>Search Test</h3>
     	<div class="perf-item perf-search row " data-perf-method="search">
       	<div class="perf-values ">
             <span data-group='q_search'><label>Keyword :</label> <input type="text" name="q_search" value="Java" class="text"/></span>
             <button class="btn btn-primary go">GO</button>
          </div> 
       	<div class="perf-results ">
        <label class="label">&nbsp;</label> 
              <div class="perf-results-item">
                 <label>c:</label>
                 <span class="perf-value"  data-perf="c"></span>
               </div>
               <div class="perf-results-item">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
          </div>
     </div><!-- /.perf-item -->
     <div class="perf-item perf-search row " data-perf-method="search">
       <div class="perf-values ">
             <span data-group='q_search'><label>Keyword :</label> <input type="text" name="q_search" value="Scala" class="text"/></span>
             <button class="btn btn-primary go">GO</button>
          </div> 
       <div class="perf-results ">
       <label class="label">&nbsp;</label> 
              <div class="perf-results-item">
                 <label>c:</label>
                 <span class="perf-value"  data-perf="c"></span>
               </div>
               <div class="perf-results-item">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
          </div>
     </div><!-- /.perf-item -->
	 
	 <h3>Search &Filter Test</h3>
     <div class="perf-item perf-search row " data-perf-method="search">
       <div class="perf-values ">
             <span data-group='q_search'><label>Keyword :</label> <input type="text" name="q_search" value="Java" class="text"/></span>
             <span data-group='q_companies'><label>Employer :</label> <input type="text" name="name" value="Oracle" class="text"/></span>
             <button class="btn btn-primary go">GO</button>
          </div> 
       <div class="perf-results ">
       <label class="label">&nbsp;</label> 
              <div class="perf-results-item">
                 <label>c:</label>
                 <span class="perf-value"  data-perf="c"></span>
               </div>
               <div class="perf-results-item">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
          </div>
     </div><!-- /.perf-item -->
     <div class="perf-item perf-search row " data-perf-method="search">
     
       <div class="perf-values ">
             <span data-group='q_search'><label>Keyword :</label> <input type="text" name="q_search" value="Scala" class="text"/></span>
             <span data-group='q_companies'><label>Employer :</label> <input type="text" name="name" value="SalesForce" class="text"/></span>
             <button class="btn btn-primary go">GO</button>
          </div> 
       <div class="perf-results ">
       <label class="label">&nbsp;</label> 
              <div class="perf-results-item">
                 <label>c:</label>
                 <span class="perf-value"  data-perf="c"></span>
               </div>
               <div class="perf-results-item">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
          </div>
     </div><!-- /.perf-item -->
      
     <h3>Auto Complete</h3>
     <div class="perf-item perf-search " data-perf-method="autocomplete">
     	  <div class="row">
     	  	<div class="perf-values col-md-6">
             <span data-group='q_search'><label>Employer :</label> <input type="text" name="q_search" value="Oracle" class="text"/></span>
             <button class="btn btn-primary go  perf-left " data-type="company">GO</button>
          	</div>
          	<div class="perf-values col-md-6">
             <span data-group='q_search'><label>Employer :</label> <input type="text" name="q_search" value="SalesForce" class="text"/></span>
             <button class="btn btn-primary go  perf-right " data-type="company">GO</button>
          	</div>  
     	  </div>	
       	  <div class="row">
       	  	<div class="perf-results col-md-6 left-items">
            	<label class="label">&nbsp;</label>
               <div class="perf-results-item ">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
            </div>
       	    <div class="perf-results col-md-6 right-items">
           		<label class="label">&nbsp;</label> 
               <div class="perf-results-item ">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
            </div>
       	  </div>
     	</div><!-- /.perf-item -->
	 	
	 	<div class="perf-item perf-search " data-perf-method="autocomplete">
     	  <div class="row">
     	  	<div class="perf-values col-md-6">
             <span data-group='q_search'><label>Skills :</label> <input type="text" name="q_search" value="Java" class="text"/></span>
             <button class="btn btn-primary go  perf-left" data-type="skill">GO</button>
          	</div>
          	<div class="perf-values col-md-6">
             <span data-group='q_search'><label>Skills :</label> <input type="text" name="q_search" value="Scala" class="text"/></span>
             <button class="btn btn-primary go  perf-right" data-type="skill">GO</button>
          	</div>  
     	  </div>	
       	  <div class="row">
       	  	<div class="perf-results col-md-6 left-items">
            	<label class="label">&nbsp;</label> 
               <div class="perf-results-item ">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
            </div>
       	    <div class="perf-results col-md-6 right-items">
            	<label class="label">&nbsp;</label> 
               <div class="perf-results-item">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
            </div>
       	  </div>
     	</div><!-- /.perf-item -->
     	
     	<div class="perf-item perf-search " data-perf-method="autocomplete">
     	  <div class="row">
     	  	<div class="perf-values col-md-6">
             <span data-group='q_search'><label>Education :</label> <input type="text" name="q_search" value="Stanford" class="text"/></span>
             <button class="btn btn-primary go perf-left" data-type="education">GO</button>
          	</div>
          	<div class="perf-values col-md-6">
             <span data-group='q_search'><label>Education :</label> <input type="text" name="q_search" value="MIT" class="text"/></span>
             <button class="btn btn-primary go perf-right" data-type="education">GO</button>
          	</div>  
     	  </div>	
       	  <div class="row">
       	  	<div class="perf-results col-md-6 left-items">
            <label class="label">&nbsp;</label> 
               <div class="perf-results-item ">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
            </div>
       	    <div class="perf-results col-md-6 right-items">
            <label class="label">&nbsp;</label> 
               <div class="perf-results-item">
                 <label>s:</label>
                 <span class="perf-value" data-perf="s"></span>
               </div>
               <div class="perf-results-item">
                 <label>matches:</label>
                 <span class="perf-value" data-perf="match"></span>
               </div>
            </div>
       	  </div>
     	</div><!-- /.perf-item -->

          <h3>Search Location Test</h3>
          <div class="perf-item perf-search row " data-perf-method="search">
              <div class="perf-values ">
                  <span data-group='q_search'><label>Keyword :</label> <input type="text" name="q_search" value="Java" class="text"/></span>
                  <span data-group='q_locations'>
                      <label>City :</label> <input type="text" name="name" value="San Francisco" class="text"/>
                      <label>Min Radius :</label> <input type="text" name="minRadius" value="30" class="text"/>
                  </span>
                  <button class="btn btn-primary go">GO</button>
              </div>
              <div class="perf-results ">
                  <label class="label">&nbsp;</label>
                  <div class="perf-results-item">
                      <label>c:</label>
                      <span class="perf-value"  data-perf="c"></span>
                  </div>
                  <div class="perf-results-item">
                      <label>s:</label>
                      <span class="perf-value" data-perf="s"></span>
                  </div>
                  <div class="perf-results-item">
                      <label>matches:</label>
                      <span class="perf-value" data-perf="match"></span>
                  </div>
              </div>
          </div><!-- /.perf-item -->
          <div class="perf-item perf-search row " data-perf-method="search">
              <div class="perf-values ">
                  <span data-group='q_search'><label>Keyword :</label> <input type="text" name="q_search" value="Java" class="text"/></span>
                  <span data-group='q_locations'>
                      <label>City :</label> <input type="text" name="name" value="San Francisco" class="text"/>
                  </span>
                  <button class="btn btn-primary go">GO</button>
              </div>
              <div class="perf-results ">
                  <label class="label">&nbsp;</label>
                  <div class="perf-results-item">
                      <label>c:</label>
                      <span class="perf-value"  data-perf="c"></span>
                  </div>
                  <div class="perf-results-item">
                      <label>s:</label>
                      <span class="perf-value" data-perf="s"></span>
                  </div>
                  <div class="perf-results-item">
                      <label>matches:</label>
                      <span class="perf-value" data-perf="match"></span>
                  </div>
              </div>
          </div><!-- /.perf-item -->
      </div>
     </div>
</script>
