<script id="SavedSearchesSide" type="text/html">
	<div class="SavedSearchesSide">
		<span class="saved-title">Saved Searches</span>
			<div class="input-containers">
				<input name="value" class="valueInput" value="" placeholder="enter the name for the current search"/>
			</div>
			
			<div class="btnSave">Save</div>
			<div class="cb"></div>
			
			<div class="wrap-items">
				<div class="savedItems">
					<div class="cb"></div>
				</div>
			</div>
			<div class="cb"></div>
	</div>
</script>
<script id="SavedSearchesSide-saved-item" type="text/html">
	<div class="saved-item" data-id="{{id}}">
		<span>{{name}}</span>
		<span class="clear clearSavedItem icon-fa fa-times-circle"></span>
	</div>
</script>

