<script id="SearchDataGrid" type="text/html">
	<div class="SearchDataGrid">
		<div class="gridControls">
			<div class="btnSelect selectAll ">
				<i class="glyphicon glyphicon-ok"></i>
			</div>
			<div class="btnSelect deselect"></div>
			<div class="searchField input-wrapper">
				<i class="glyphicon glyphicon-search" data-action="DO_SEARCH"></i>
				<input class="search-input input-medium search-query" placeholder="Search Keyword" type="text" class="" autofocus />
			</div>
			<div class="toolbar-ctn"></div>
			<small class="resultTime search-info"></small>
			<div class="right-ctn">
				<div class="pagination-ctn"></div>
				<div class="searchMode-ctn">
					<div class="btn-group searchMode">
						<button class="btn active" data-mode="power">Power</button>
						<button class="btn" data-mode="verify">Verify</button>
					</div>
				</div>
				<div class="estimateBar-ctn"></div>
			</div>
		</div>
		<div class="search-result">
			<div class="tableContainer"></div>
			<div class="btn btnPopupColumns">+</div>
		</div>
	</div>
</script>
