<script id="SelectColumns" type="text/html">
	<div class="SelectColumns" >
		<ul class="columns">
			{{#each columns}}
				<li>
					<label class="checkbox">
						<input type="checkbox" value="{{name}}" />{{display}}
					</label>
				</li>
			{{/each}}
		</ul>
	</div>
</script>
