<script id="Setup" type="text/html">
    <div class="Setup">
    	
        
        <h3 class="title">Setup</h3>
        <div>
    		<button class="btn btn-primary setupStart hide">Start</button>
    		<!--<button class="btn btn-primary setupResume hide">Resume</button>
    		<button class="btn btn-primary setupPause hide">Pause</button>
    		<button class="btn btn-danger setupReset hide">Reset</button>-->
    	</div>
        <div class="tab-content">
			<div class="setting form-inline create">
	                <label class="left">
	                    Create System schema
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
	        <div class="setting form-inline import">
	                <label class="left">
	                  	Import Zipcode table
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
	        <div class="setting form-inline create_pg_trgm">
	                <label class="left">
	                    Create Extensions
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
	        <div class="setting form-inline import-city">
	                <label class="left">
	                	Import City
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
	        <div class="setting form-inline check-columns">
	                <label class="left ">
	                	Check if missing columns
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
        </div>
        
        <h3 class="title">Configs</h3>
   <div class="setting form-inline">
	<table class="content-table">
		<!--
       <tr>
            <td class="left"><span>ApiKey: </span></td>
            <td class="right"><label>
                <input type="text" name="saleforce.apiKey" class="text"/>
            </label></td>
            <td></td>
       </tr>  
       <tr>
            <td class="left"><span>ApiSecret: </span></td>
            <td class="right"><label>
                <input type="text" name="saleforce.apiSecret" class="text"/>
            </label></td>
            <td></td>
       </tr>

       <tr>
            <td class="left"><span>CallBackUrl: </span></td>
            <td class="right"><label>
                <input type="text" name="saleforce.callBackUrl" class="text"/>
            </label></td>
            <td><div class="alert alert-error hide msg callBackUrl">Please type right url.</div></td>
       </tr>      -->
   
       <tr>
            <td class="left"><span>Userlist Feature: </span></td>
            <td class="right"><label>
                <select name="jss.feature.userlist">
                    <option value="true">enabled</option>   
                    <option value="false">disabled</option>                    
                </select>
            </label></td>
            <td></td>
       </tr>         
      </table>
    </div>

    <div class="btns">
        <button class="btn btn-primary save">Save</button>
        <button class="btn cancel">Cancel</button>
        <span class="alert hide config-alert fade"></span>
    </div>
    <div class="search-config">
      
    </div>
    </div>
</script>