<script id="Setup" type="text/html">
    <div class="Setup">
        <h3 class="title">Setup</h3>
        <div class="tab-content">
		<div class="setting form-inline">
                <span class="subTitle">1,Create sys schema:</span>
                <label>
                    <button class="btn btn-primary save">Create</button>
                </label>
        </div>
        <div class="setting form-inline">
                <span class="subTitle">2,Import Zipcode tables:</span>
                <label>
                  <button class="btn btn-primary save">Import</button>
                </label>
        </div>
        </div>
    </div>
</script>