<script id="Setup" type="text/html">
    <div class="Setup">
        <h3 class="title">Setup</h3>
        <div class="tab-content">
			<div class="setting form-inline">
	                <label class="left">
	                    <button class="btn btn-primary create">Create System schema</button>
	                </label>
	                <div class="alert alert-danger transparent">&nbsp;</div>
	        </div>
	        <div class="setting form-inline">
	                <label class="left">
	                  <button class="btn btn-primary import" disabled>Import Zipcode table</button>
	                </label>
	                 <div class="alert alert-danger transparent" disabled>&nbsp;</div>
	        </div>
	        <div class="setting form-inline">
	                <label class="left">
	                    <button class="btn btn-primary create_pg_trgm" disabled>Create Extensions</button>
	                </label>
	                <div class="alert alert-danger transparent">&nbsp;</div>
	        </div>
	        <div class="setting form-inline hide">
	                <label class="left">
	                    <button class="btn btn-primary compute-city" disabled>Compute City long/lat</button>
	                </label>
	                <div class="alert alert-danger transparent">&nbsp;</div>
	        </div>
	        <div class="setting form-inline">
	                <label class="left">
	                    <button class="btn btn-primary import-city" disabled>Import City</button>
	                </label>
	                <div class="alert alert-danger transparent">&nbsp;</div>
	        </div>
        </div>
        
        <h3 class="title">Configs</h3>
   <div class="setting form-inline">
	<table class="content-table">
       <tr>
            <td class="left"><span>ApiKey: </span></td>
            <td class="right"><label>
                <input type="text" name="saleforce.apiKey" class="text"/>
            </label></td>
            <td></td>
       </tr>  
       <tr>
            <td class="left"><span>ApiSecret: </span></td>
            <td class="right"><label>
                <input type="text" name="saleforce.apiSecret" class="text"/>
            </label></td>
            <td></td>
       </tr>
       <tr>
            <td class="left"><span>CallBackUrl: </span></td>
            <td class="right"><label>
                <input type="text" name="saleforce.callBackUrl" class="text"/>
            </label></td>
            <td><div class="alert alert-error hide msg callBackUrl">Please type right url.</div></td>
       </tr>         
       <tr>
            <td class="left"><span>Userlist Feature: </span></td>
            <td class="right"><label>
                <select name="jss.feature.userlist">
                    <option value="true">enabled</option>   
                    <option value="false">disabled</option>                    
                </select>
            </label></td>
            <td></td>
       </tr>         
      </table>
    </div>

    <div class="btns">
        <button class="btn btn-primary save">Save</button>
        <button class="btn cancel">Cancel</button>
    </div>
    <div class="search-config">
      
    </div>
    </div>
</script>