<script id="SideNav" type="text/html">
<div class="SideNav">
  <div class="sec sel" data-search-mode="simple">
    <h2>SIMPLE SEARCH</h2>
  </div>
  
  <div class="sec" data-search-mode="keyword">
    <h2>KEYWORD SEARCH</h2>
  
    <div class="keyword-form content">
      <div class="control-group">
        <label>First Name:</label>
        <input name="FirstName" type="text" placeholder="First Name"/>
      </div>
      <div class="control-group">
        <label>Last Name:</label>
        <input name="LastName" type="text" placeholder="Last Name"/>
      </div>
      <div class="control-group">
        <label>Title:</label>
        <input name="Title" type="text" placeholder="Title"/>
          <label  class="checkbox">
              <input name="curTitle" type="checkbox" value='true'> Current Title
          </label>
      </div>
      <div class="control-group">
        <label>Company:</label>
        <input name="Company" type="text" placeholder="Company"/>
          <label class="checkbox">
              <input name="curCompany"  value='true' type="checkbox"> Current Company
          </label>
      </div> 
      <div class="control-group">
        <label>Skill:</label>
        <input name="Skill" type="text" placeholder="Skill"/>
      </div> 
      <div class="control-group">
        <label>Education:</label>
        <input name="Education" type="text" placeholder="Education"/>
      </div> 
      <div class="btnContainer">
        <button id="search-keyword" data-action="DO_SEARCH" type="submit" class="btn btn-primary">Refresh</button>
      </div>
    </div>
  </div>
  
  <div class="sec" data-search-mode="advanced">  
    <h2>ADVANCED SEARCH</h2>
    <div class="content advanced">
    </div>
  </div>
  
</div>
</script>

<script id="SideNav-advanced-loading" type="text/html">
    <span class="loading badge badge-info">Loading...</span>
</script>