<script id="SideSection" type="text/html">
<div class="SideSection" >
   <div class="title">
       <h2>{{title}}</h2>
      <span class="open icon-chevron-right"></span>
      <span class="clear icon-remove"></span>
   </div>
   <div class="content"></div>
</div>
</script>

<script id="SideSection-close" type="text/html">
   <span class="not-open">
      {{value}}
   </span>
</script>
