<script id="SideNav" type="text/html">
<div class="SideNav">


</div>
</script>

<script id="SideNav-advanced-loading" type="text/html">
    <span class="loading badge badge-info">Loading...</span>
</script>