<script id="SkillFilterView" type="text/html">
	<div class="SkillFilterView  rootFilterContainer">
		<div class="selectedItems skill">
			<span class="add separateLine" style="display:none"></span>
			<span class="show autoCompleteContainer">
				<input type="text" class="autoComplete" data-type="skill" placeholder="Enter a Skill"/>
				<label class="clear"><i></i></label>
			</span>
		</div>
		<div class="content skill" >
			<div class="autoCompleteList">
				<div class="center">loading...</div>
				{{#each skills}}
					<div class="skillRow">
						<span class="contentText" data-name="{{name}}">
							<span class="itemName">{{name}}</span>
							<span class="count">({{count}})</span>
						</span>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</script>