<script id="TabView" type="text/html">
<div class="TabView" >
    <div>
        <ul>
            <li class="search"><button class="active">Search</button></li>
            <li class="favLabel"><i class="glyphicon glyphicon-star"></i><button class="btn">Favorites</button></li>
            <li class="addFav"><input placeholder="+Add List" /></li>
        </ul>
    </div>

</div>
</script>
