<script id="TabView" type="text/html">
<div class="TabView" >
    <div class="tab-left clear">
        <ul>
            <li class="search active"><button>Search</button>
                <!--<i class="glyphicon glyphicon-arrow-left"></i>-->
            </li>
            <li class="favLabel Favorites"><i class="glyphicon glyphicon-star select"></i>
                <!--<button class="btn">Favorites</button>-->
                <a class="btn" href="#/list/">Favorites</a>
            </li>
            <li class="addFav">
                <div class="addList"><input class="showSave" placeholder=" +Add List" maxlength="64"/></div>
                <div class="deleteList" style="display:none"><a class="btn delete" href="#" >(delete this list)</a></div>
                <!--<i class="glyphicon glyphicon-arrow-right"></i>-->
            </li>
        </ul>
    </div>

</div>
</script>
<script id="TabView-new-label" type="text/html">
     <li class="favLabel" data-label-id={{id}}><i class="glyphicon glyphicon-stop"></i>
         <!--<button class="btn">{{name}}</button>-->
         <a class="btn" href="#/list/{{id}}">{{name}}</a>
     </li>
</div>
</script>

<script id="TabView-insert-labels" type="text/html">
    {{#each labels}}
     <li class="favLabel" data-label-id={{id}}>
         <i class="glyphicon glyphicon-stop"></i>
         <!--<button class="btn">{{name}}</button>-->
         <a class="btn" href="#/list/{{id}}">{{name}}</a>
     </li>
    {{/each}}
</div>
</script>

<script id="TabView-add-list" type="text/html">
    <input class="showSave" placeholder=" +Add List" maxlength="64"/>
</script>

<script id="TabView-save-list" type="text/html">
    <input type="text" class="addText" value="" maxlength="64"/>
    <button class="saveTab">Save</button>
    <button class="cancelTab">Cancel</button>
</script>