<script id="TabView" type="text/html">
<div class="TabView" >
    <div>
        <ul>
            <li class="search active"><button>Search</button>
                <!--<i class="glyphicon glyphicon-arrow-left"></i>-->
            </li>
            <li class="favLabel"><i class="glyphicon glyphicon-star select"></i>
                <!--<button class="btn">Favorites</button>-->
                <a class="btn" href="#/list/">Favorites</a>
            </li>
            <li class="addFav">
                <input placeholder="+Add List" maxlength="64"/>
                <!--<i class="glyphicon glyphicon-arrow-right"></i>-->
            </li>
        </ul>
    </div>

</div>
</script>
<script id="TabView-new-label" type="text/html">
     <li class="favLabel" data-label-id={{id}}><i class="glyphicon glyphicon-stop"></i>
         <!--<button class="btn">{{name}}</button>-->
         <a class="btn" href="#/list/{{id}}">{{name}}</a>
     </li>
</div>
</script>

<script id="TabView-insert-labels" type="text/html">
    {{#each labels}}
     <li class="favLabel" data-label-id={{id}}>
         <i class="glyphicon glyphicon-stop"></i>
         <!--<button class="btn">{{name}}</button>-->
         <a class="btn" href="#/list/{{id}}">{{name}}</a>
     </li>
    {{/each}}
</div>
</script>
