<script id="ToolBar" type="text/html">
	<div class="ToolBar">
		<button class="btnApply action-button btn btn-primary disabled">Apply To Job</button>
		<button class="btnAddToShotList action-button btn btn-primary disabled">Add To Shortlist</button>
		<button class="btnClearSearch btn btn-primary disabled">Clear Search</button>
	</div>
</script>