// --------- Organization--------- //
.Organization{

  .tab-content .table tr th{
    box-sizing: content-box;
  }
  .tab-content .table tr td{
    height:36px;
  }

  .icon-remove{
	  width: 20px;
	  height: 20px;
	  cursor: pointer;
	  display: inline-block;
	  background-position: -305px 1px;
  }

  .table .edit{
     cursor: pointer;
  }

  .content-table .left{
     width:120px;
     algin-text:left;
     line-height:35px;
  }

  .content-table .right{

  }

  .content-table .text{
  	width:250px;
  	padding-left: 8px;
  }

  .content-table .msg{
  	padding-top:5px;
  	padding-bottom:5px;
  	margin-bottom:2px;
  }

  .btns{
    margin-left: 100px;
    margin-top: 50px;
  }
}

// --------- /Organization--------- //