// Core variables and mixins
@import "mixins.less";
*{
  .box-sizing(border-box);
}
html{
  height: 100%;
}

body{
  margin: 0px;
  height: 100%;
}

.MainView input {
  outline-width: none;
  &:focus {
    outline-width: 2px;
  }
}
