// --------- AdminMainView --------- //
.AdminMainView {
  overflow-y: auto !important;
  .alert {
    width: auto;
    margin-left: 300px;
  }
  .left {
    float: left;
    padding-top: 10px;
  }
  .transparent {
    opacity: 0;
    filter:alpha(opacity=0)
  }
  .progress {
    height: 38px;
    width: 400px;
    margin: 0;
    background-color: #a9a9a9;
    text-align: center;
    position: relative;
    color: #fff;
    display: none;
    .db-percentage {
      vertical-align: middle;
      line-height: 38px;
      position: absolute;
      left: 48%;
      font-weight: bold;
    }
    .db-count-info {
      position: absolute;
      right: 10px;
      bottom: 0;
    }
    .contact-index-percentage {
      vertical-align: middle;
      line-height: 38px;
      position: absolute;
      left: 48%;
      font-weight: bold;
    }
    .contact-index-count-info {
      position: absolute;
      right: 10px;
      bottom: 0;
    }
    .sfid-percentage {
      vertical-align: middle;
      line-height: 38px;
      position: absolute;
      left: 48%;
      font-weight: bold;
    }
    .sfid-count-info {
      position: absolute;
      right: 10px;
      bottom: 0;
    }

    .contact-tsv-percentage {
      vertical-align: middle;
      line-height: 38px;
      position: absolute;
      left: 48%;
      font-weight: bold;
    }
    .contact-tsv-count-info {
      position: absolute;
      right: 10px;
      bottom: 0;
    }

  }

  .perf-tab {
    float: right;
  }
  .trigger-test-tab {
    float: right;
    margin-right: 50px;
  }
  .sync-sf{
    float:right;
  }
}

// --------- /AdminMainView --------- //