// --------- AdminMainView --------- //
.AdminMainView{
	overflow-y: auto !important;
	.alert{
		width:auto;
		margin-left:300px;
	}
	.left{
		float:left;
	}
	.transparent{
		opacity:0;
	}
	.db-status-bar{
		height: 38px;
		width: 400px;
		margin: 0;
		background-color: #a9a9a9;
		text-align: center;
		position: relative;
		color: #fff;
		display:none;
		.db-percentage{
			vertical-align: middle;
			line-height: 38px;
			position: absolute;
			left: 48%;
			font-weight: bold;
		}
		.db-count-info{
			position: absolute;
			right: 10px;
			bottom: 0;
		}
	}
	
}
// --------- /AdminMainView --------- //