.CellPopup {
  position: absolute;
  width: 208px;
  border-radius: 5px;
  border: solid 1px #999;
  background: white;
  .title {
  padding-left: 20px;
  padding-top: 5px;
  height: 60px;
  background: #d6d6d6;

    .columnName {
      font-size: 20px;
      font-weight: bold;
      color: #888;
      letter-spacing: 0.1em;
    }
    .contactName {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.CellPopup ul {
    padding: 0;
    margin: 0;
    height:200px;
    margin-bottom: 20px;
    overflow-y: auto;
    li {
        list-style: none;
        font-size: 16px;
        font-weight: bold;
        height:28px;
        line-height: 28px;
        text-align: center;
        cursor: pointer;
        &.filter {
          background: #D5FEFF;
        }
    }

}




