// Core variables and mixins
@import "mixins.less";

// --------- ContentView --------- //
.ContentView{
  .fitparent();
  min-width: 650px;

  .sidenav-ctn{
    position: absolute;
    top: 43px; left: 0; bottom: 0;
    width: 280px;
  }

  .search-form{
    position: relative;
    width: 500px;
    margin: 40px auto 40px auto;

    input{
      width: 400px;
      height: 32px;
      border-radius: 2px;
      padding: 5px 10px 5px 10px;
      margin-right: 10px;
    }

  }

  .page{
    width: 80%;
    margin: 0 auto 0 auto;
    height: 30px;
    padding-right: 5px;
  }
  
  .search-result {
    top: 155px; right: 0; bottom: 0; left: 0;
    position: absolute;
    width: 80%;
    margin: 0px auto 20px auto;
    padding: 5px;

    .table  {
      position:relative;
//      display: table;
      height: 100%;
      margin-top: 5px;
      .row{
        position:relative;
//        display: table-row;
        height: 30px;
        margin:0px;
        width:100%;
        border-bottom: 1px solid #dddddd;
        .desc{
			width:auto;
			display:none;
        }
        .asc{
        	width:auto;
        	display:none;
        }
        >div{
//          display: table-cell;
          padding-top: 5px;
          padding-left: 10px;

          overflow: hidden;
          float:left;
        }

      }

      .row>div span{
        display: inline-block;
        width: 100%;
        padding-left: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: normal;
        overflow: hidden;
      }

      .tableHeader {
        display: block;
        position: absolute;
        left:0;
        right:0;
        top:0;
        height:30px;
        .row {
          background: #DDD;
        }
        .row > div {

          font-weight: bold;
          cursor:pointer;
        }
        span[data-action='popupColumns']{
          position: absolute;
          width: 36px;
          right: 1px; top: 1px; bottom: 1px;
          font-size: 20px;
          background: #cbcbcb;
          color: #ffffff;
        }

      }

      .tableBody{
        position: absolute;
        top:30px;
        left:0;
        right:0;
        bottom: 0;
        overflow-y:auto;
      }

      .empty-search{
        position: absolute;
        top: 70px;left: 0; right: 0;
        text-align: center;
        font-size: 20px;
        color: #bbbbbb;
      }
      .loading{
        position: absolute;
        top: 70px;left: 50%;
        width: 300px;
        margin-left: -150px;
        font-size: 20px;
        color: #bbbbbb;
        background: #ddd;
        height: 80px;
        text-align: center;
        padding-top: 35px;
      }

      .alert-error, .alert-info{
        position: absolute;
        top: 70px;left: 50%;
        width: 300px;
        margin-left: -150px;
      }

      .row>div[data-column='id']{
        max-width: 80px;
      }
      .row>div[data-column='createdate']{
        max-width: 100px;
      }
    }

  }

  .search-info{
    display: block;
    color: #777;
    width: 375px;
    text-align: right;
    height: 16px;
  }

}

// --------- /ContentView --------- //