// Core variables and mixins
@import "mixins.less";

// --------- ContentView --------- //
.ContentView {
  .fitparent();
  min-width: 650px;

  .sidenav-ctn {
    position: absolute;
    top: 43px;
    left: 0;
    bottom: 0;
    width: 280px;
  }

  .search-form {
    position: relative;
    width: 500px;
    margin: 40px auto 40px auto;

    input {
      width: 400px;
      height: 32px;
      border-radius: 2px;
      padding: 5px 10px 5px 10px;
      margin-right: 10px;
    }

  }

  .search-result {
    top: 155px;
    right: 120px;
    bottom: 0;
    left: 120px;
    position: absolute;
    margin: 0px auto 20px auto;
    padding: 5px;
    min-width: 600px;
     
    span.actions {
      display: none;
      float: left;
      margin-left: 30px;
      margin-top: -50px;
      label {
        margin-top:10px;
        display:inline-block;
        font-weight: bold;
      }
      label.checkbox.selected {
        color: #b25c05;
      }
      .btn{
        margin-top:-25px;
        margin-left:5px;
      }
    }


    div.page {
      position: absolute;
      top: -60px;
      right: 0;
      left: 0;
      height: 30px;
    }

    div.btnPopupColumns {
      position: absolute;
      width: 40px;
      right: -45px;
      top: 7px;
      height: 30px;
      font-size: 20px;
      background: #e0e0e0;
      border: none;
      color: #ffffff;
      border-radius: 0px;
      padding: 5px 12px;
      height: 93px;
	  padding-top: 35px;
    }

    .tableContainer {
      .fitparent();
      table {
        display:block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 14px;
        tr {
          vertical-align: top;
          td, th {
            padding-left: 10px;
            padding-top: 7px;
            text-align: left;
          }
        }
        thead tr {
          display: block;
          position: relative;

          th {
            font-weight: bold;
			height:108px;
			color:#fff;
			font-size: 16px;
			.headerTh{
				height:100%;
				padding: 4px 10px;
				position: relative;
				padding-left: 10px;
				.addFilter{
					position: absolute;
					bottom: 0;
					font-weight: normal;
					cursor:pointer;
					z-index:1;
				}
			    .columnName{
			    	width: 90%;
					display: inline-block;
					cursor:pointer;
			    }
			}
			.idTh{
				background: #ccc;
			}
			.nameTh{
				background: #d4c761;
			}
			.CreatedDateTh{
				background: #E13CC7;
			}
			.titleTh{
				background: #3CE198;
			}
			.emailTh{
				background: #B33CE1;
			}
			.educationTh{
				background: #dc7a4d;
			}
			.companyTh{
				background: #33aad2;
			}
			.resumeTh{
				background: #A7EE3C;
			}
			.locationTh{
				background: #4bc272;
			}
			.skillTh{
				background: #e13c5e;
			}
            .desc, .asc {
              width: auto;
              display: none;
              margin-left: 5px;
              float: right;
            }
          }
          th.checkbox {
            width: 30px;
//            background: #ffffff;
//            border-color: white;
//            border:none;
          }
        }

        tbody {
          .fitparent();
          overflow-x:hidden;
          overflow-y: auto;
          top: 100px;
          tr {
            padding-bottom: 3px;
          }
          td {
            span {
              display:block;
              width: 100%;
              padding-left: 2px;
              text-overflow: ellipsis;
              word-break: break-word;
              overflow: hidden;
            }
          }
          td.checkbox {
            width: 30px;
            input[type="checkbox"]{
              margin-left: -5px;
            }
          }
          td[data-column='skill'],td[data-column='company'],td[data-column='education']{
             span {
               max-height: 50px;
               overflow-y: auto;
             }
          }
        }
      }

      table.scrollTable tbody tr {
        border-bottom: 1px solid #dddddd;
        display:block;
      }

	  table.scrollTable tbody tr .resume-ico{
        background-color:#ccc;
        cursor:pointer;
        margin-left: 20px;
      }
      table  tr.full {
        .fitparent();
        top:100px;
        td {
          width: 100%;
          .empty-search {
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 20px;
            color: #bbbbbb;
          }
          .loading {
            position: absolute;
            top: 70px;
            left: 50%;
            width: 300px;
            margin-left: -150px;
            font-size: 20px;
            color: #bbbbbb;
            background: #ddd;
            height: 80px;
            text-align: center;
            padding-top: 35px;
          }

          .alert-error, .alert-info {
            position: absolute;
            top: 70px;
            left: 50%;
            width: 300px;
            margin-left: -150px;
          }
        }
      }
    }

  }

  .search-info {
    display: block;
    color: #777;
    width: 375px;
    text-align: right;
    height: 16px;
  }

}

// --------- /ContentView --------- //