// --------- ContactFilterView --------- //
.ContactFilterView {
  margin-top: -8px;
  .selectedItems {
    display:none;
    margin-top: 8px;
	border-bottom:1px solid #BDB8B8 !important;
    .clear i {
      color: #d4c761 !important;
    }
  }
  .contact .item {
    background: #d4c761;
    cursor: pointer;
  }
  .contactRow {
    margin-top: 10px;
    position: relative;
    padding-left: 0px;
    .clear {
      display:none;
      right:10px !important;
      margin-right: 10px;
      i {
        color: white !important;
      }
    }
    span {
      width:80px !important;
      text-align: right;
      font-size: 12px;
      font-weight: bold !important;
      color:#666;
    }
    input[type="text"]  {
      width: 278px !important;
      margin-left: 16px;

    }
  }

  .contactRow.active .clear {
    display:block;

  }
  .selectedItems  .item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    max-width: 100px;
  }
  .contact-btn-group{
    text-align: right;
	margin-top: 5px;
	margin-right: 13px;
    .btn-group{
    	margin-top: 15px;
    	.active.btn{
    		background: #aea055!important;
    		-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
			box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
			border-right: 0px;
			-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aea055', endColorstr='#aea055'); 
    		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aea055', endColorstr='#aea055');
    	}
    	.btn{
    		width: 94px;
    		color:#FFFFFF;
    		border: 1px solid #b9ab62;
		    background:-moz-linear-gradient(top, #e4d47c, #bbae5f);  
		    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#e4d47c), to(#bbae5f));  
		    background:-o-linear-gradient(top, #e4d47c, #bbae5f); 
		    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4d47c', endColorstr='#bbae5f'); 
    		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4d47c', endColorstr='#bbae5f');
    		background: -ms-linear-gradient(top, #e4d47c, #bbae5f);
    	}
    }
  }
}
// --------- /ContactFilterView --------- //

