// Core variables and mixins
@import "mixins.less";

.ContactInfo {
  width:100%;
  input[name='curTitle']{
    margin-top:4px !important;
  }
  input[type='text'] {
    width: 210px;
    height: 32px;
  }
}