@import "utils";
// --------- EstimateBar --------- //
.EstimateBar {
	position:relative;
	.EstimateBar-label{
		position:absolute;
		bottom: -18px;
		color: #666;
	}
	
	.EstimateBar-canvas{
		position:absolute;
		left:0;
		top:0;
	}
	
	.element{
		display:inline-block;
		vertical-align: bottom;
	}
	
	.element-1{
		width:26px;
		height:5px;
		margin-right:1px;
		background-color:#6d999c;
	}
	.element-2{
		width:10px;
		height:7px;
		margin-right:1.5px;
		background-color:#76a9ad;
	}
	.element-3{
		width:12px;
		height:10px;
		margin-right:2px;
		background-color:#7fb9bd;
	}
	.element-4{
		width:15px;
		height:14px;
		margin-right:2.5px;
		background-color:#87c9cd;
	}
	.element-5{
		width:18px;
		height:18px;
		margin-right:3px;
		background-color:#91d8de;
	}
	.element-6{
		width:23px;
		height:23px;
		margin-right:3.5px;
		background-color:#9ae6ec;
	}
	.element-7{
		width:29px;
		height:28px;
		margin-right:4px;
		background-color:#a1eff6;
	}
	.element-8{
		width:36px;
		height:34px;
		background-color:#c2eef6;
	}
}

// --------- /EstimateBar --------- //