.FilterEducation{
	.education .item{
			background: #dc7a4d;
		}
		
	.education.content .educationRow{
/*		margin-top:5px;
		.labelText{
			width:80px;
		}*/
		.contentText:hover{
			background:#dc7a4d;
		}
	}
}