// --------- FilterLocation--------- //
.FilterLocation{
	.location .item{
			background: #4bc272;
		}
  .selectedItems .clear i {
    color: #4bc272 !important;
  }
	.location.content .locationRow{
//		margin-top:5px;
		.labelText{
			width:85px;
		}
		.contentText:hover, .contentText.active{
			background:#4bc272;
		}
	}
    .content .sliderRow .sliderBarContainer {
      width: 255px !important;
    }
}
// --------- /FilterLocation--------- //