// --------- FilterSkill--------- //
.FilterSkill{
	.skill .item{
			background: #e13c5e;
	}
  .selectedItems  .clear i {
    color: #e13c5e !important;
  }
	.skill.content .skillRow{
/*		margin-top:5px;
		.labelText{
			width:80px;
		}*/
      .contentText:hover, .contentText.active{
			background:#e13c5e;
		}
	}
}
// --------- /FilterSkill--------- //