// --------- FilterEmployer--------- //
.FilterEmployer{
	.employer .item{
			background: #33aad2;
		}
    .selectedItems .clear i {
      color: #33aad2 !important;
    }

	.employer.content .employerRow,.employer.content .companyRow {
/*		margin-top:5px;
		.labelText{
			width:80px;
		}*/
      .contentText:hover, .contentText.active{
			background:#33aad2;
		}

	}
}
// --------- /FilterEmployer--------- //