// --------- EducationFilterView --------- //
.GenericFilterView{
	.selectedItems .item {
		background: #cf98ee;
	}
	.selectedItems .clear i {
		color: #cf98ee !important;
	}
	.content {
		.contentText:hover, .contentText.active{
		background: #cf98ee;
		}
	}
}
// --------- /EducationFilterView --------- //