// Core variables and mixins
@import "mixins.less";

.Location {
  width:100%;
  input[type='text'] {
     width: 170px;
     height: 32px;
  }
  .text{
  	line-height:32px;
  }
  label{
    float: left;
	width: 40px;
	margin-top: 5px;
  }
  input[type='text'].radius{
   	 width: 50px;
   	 margin-top:10px;
  }
}