// Core variables and mixins
@import "utils.less";

// --------- MainView --------- //
.MainView{
  .fitparent();
  min-height: 600px;
}

.MainView header .brand img{
  margin:10px;
}

.MainView header .navbar{
  margin: 0;
  padding: 0px;
}

.MainView header .navbar-inner{
  border-radius: 0px;
  background-image: none;
  background-color: #fff;
  .box-shadow(~"none");
  height:60px;
}

.MainView header .navbar .brand{
  padding-left: 10px;
  color: #f4f4f4;
  letter-spacing: .1em;
  text-shadow: none;
}

.MainView .sidenav-ctn{
  position: absolute;
  top: 61px; left: 0; bottom: 0;
  width: 250px;
  background: #e5e5e5;
  border-right: solid 1px #ccc;  
  overflow: auto;
}

.MainView .contentview-ctn{
  position: absolute;
  top: 61px; left: 10px; bottom: 0; right: 0;
}

.MainView .admin{
	float:right;
	margin: 15px 8px;
}

.MainView .clear-all{
  height: 30px;
  line-height: 16px;
  margin-top: 10px;
}

.MainView .sf-info{
	float:right;
	margin: 15px 8px;
	font-size: 10px;
	color: #ccc;
}

// --------- /MainView --------- //