// --------- OAuthInfo--------- //
.OAuthInfo {
  width: 80%;
  margin: 20px;
  position: relative;

  table {
    width: 100%;
    td:last-child {
       width: 80%;
    }
    span {
      display: inline-block;
      overflow-wrap: break-word;
      max-width: 500px;
    }
  }

  button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
// --------- /OAuthInfo--------- //