// Core variables and mixins
@import "mixins.less";

// --------- Pagination --------- //
.Pagination{
    width: 80%;
    margin: 0px 10px 10px 14%;
    padding: 5px;
}
.Pagination ul{
    float: right;
}


.Pagination ul li a{
    cursor: pointer;

}
.Pagination ul li select{
    width: 60px;
    margin-left: 10px;

}
// --------- /Pagination --------- //