// --------- PerfView --------- //
.PerfView{
	margin-top:50px;
	margin-left:20px;
	.search-type{
		line-height:30px;	
	}

	.search-type span{
		margin-right:10px;
		width:200px;
	}
	
	.search-type input{
		height:30px;
		line-height:30px;	
	}
	
	.search-type label{
		width:135px;
		margin-left:20px;
	}
	
	.btn{
		min-width:100px;
		height:30px;
		line-height:10px;	
	}
	
	.atuo{
		width:1000px;
	}
	
	.results{
		margin-left:20px;
		color:blue;
	}
}
// --------- /PerfView --------- //