// Core variables and mixins
@import "mixins.less";

.ResumeView {
  display:block;
  .modal-dialog{
  	outline:0;
  	height:100%;
  	.modal-content{
  		height:100%;
  		.modal-body{
  			position:absolute;
  			top: 87px;
   			bottom: 70px;
   			overflow: scroll;
  		}
  		.modal-footer{
  			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
  		}
  	}
  }
}