// Core variables and mixins
@import "utils";

// --------- ResumeView--------- //
.ResumeView {
	margin-left:16px;
	display: block;.highlight{
		background-color: #FFFF00;
	}
	.modal-dialog {
		outline: 0;
		height: 100%;
		.modal-content{
			.modal-header{
				height:80px;
			}
			.modal-body{
				max-height:480px;
				overflow-x: hidden;
				overflow-y: auto;
				padding-bottom: 0px;
				iframe{
					border: 0;
				}
			}
			.modal-footer {
				padding: 0px 19px 20px 20px;
				margin-top:0px;
				button {
					margin-top: 12px;
				}
			}
		}
	}
}
// --------- /ResumeView--------- //