// Core variables and mixins
@import "utils";

.SavedSearches {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  .control-group { float: left; position: relative}
  input {
    width: 160px;
    height: 24px;
    line-height: 24px;
    padding-right: 25px;
    padding-left: 5px;
    border-radius: 3px;
    border: #ccc solid 1px;
    font-size: 12px;
  }
  .drawdown {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top:5px;
    font-size: 12px;
    color:#ccc;
    cursor: pointer;
    &:hover {
      color: #666;
    }
  }
  button.btn {
    float: left;
    padding: 0px;
    margin: 0;
    margin-left: 16px;
    height:24px;
//    line-height: 24px;
    width:56px;
    font-size: 12px;
    &.disabled {
       background: #ccc;
      border-color: #ccc;
    }
  }
  ul {
    position: absolute;
    z-index: 999;
    background: #ffffff;
    border: 1px solid #ccc;
    margin: 2px 5px 5px 0;
    padding: 5px 5px 5px 5px;
    width:160px;
    li{
      width: 100%;
      padding: 2px 18px 2px 2px;
      position: relative;
      list-style: none;
      cursor: pointer;
      font-size: 12px;
      .searchName {
        display: inline-block;
        width:100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      i {
        position: absolute;
        right: 2px;
        top:50%;
        margin-top: -8px;
        color: #ccc;
        cursor: pointer;
        &:hover {
          color: #666;
        }
      }
      &:hover {
        background: #eee;
      }
    }
  }


}