// Core variables and mixins
@import "mixins.less";

.SelectColumns {
   position: absolute;
    right: -110px;
    top: 40px;
  .border-radius(5px);
   background: #fff;
  .box-shadow(~"0 1px 10px #000, inset 0 -2px 5px #ddd");
   padding: 10px;

   ul {
     margin: 0px;
   }

   li {
     list-style: none;
     padding:5px 0;
     label{
       margin:0;
     }
   }
}