// --------- Setup--------- //
.Setup{
	.config-alert{
		margin-left:10px !important;
	}
	
	.check-status{
		margin-top: 30px;
		margin-bottom: -30px;
	  	div{
	  		margin-left:0px;
	  		overflow: hidden;
			height: 52px;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
			width: auto;
			max-width: 100%;
	  	}
	  	.hide{
	  		display: none;
	  	}
	  }
    .setting{
      margin-bottom: 15px;
      padding-left: 25px;
      color: #848484;
      span{
        width: 200px;
        display: inline-block;
      }
      .alert{
		margin-bottom:0px;
		padding: 8px;
		word-break: break-word;
		width:400px;
	  }
	  
      .btn{
        width:auto;
      }

     .text{
        width:250px;
        padding-left: 8px;
        box-sizing: content-box;
     }
   }
}
// --------- /Setup--------- //