// --------- Setup--------- //
.Setup{
	.check-status{
		margin-top: 30px;
		margin-bottom: -30px;
	  	div{
	  		margin-left:0px;
	  		overflow: hidden;
			height: 52px;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
			width: 100%;
	  	}
	  	.hide{
	  		display: none;
	  	}
	  }
	  .fix-btn{
	  	margin-top:31px;
	  }
    .setting{
      margin-bottom: 15px;
      padding-left: 25px;
      color: #848484;
      span{
        width: 200px;
        display: inline-block;
      }

    .btn{
        width:auto;
        }

    .text{
        width:250px;
        padding-left: 8px;
        box-sizing: content-box;
      }
  }
}
// --------- /Setup--------- //