// Core variables and mixins
@import "mixins.less";

// --------- SideNav --------- //
.SideNav{
  .fitparent();
  overflow-y: auto;
  padding-top: 10px;
}

.SideNav h2{
  cursor: pointer;
  font-size: 14px;
  padding: 3px 10px;
  line-height: 30px;
  margin: 10px 0 10px 0;
  color: #888;
  font-weight: normal;
  letter-spacing: .1em;
  font-weight: bold;
}

.SideNav .sec.sel h2{
  background: #f4f4f4;
  color: #555;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #e0e0e0;
  
}

.SideNav .sec > div{
  display: none;
}

.SideNav .sec.sel > div{
  display: block;
}

.SideNav .control-group{
  margin: 0;
}

.SideNav label{
  color: #999;
}

.SideNav input{
  padding: 14px;
}

.SideNav .keyword-form{
  padding: 0 0 0 11px;
}

.SideNav .btnContainer{
  padding: 0 0 0 130px;
}

.SideNav div.sec {
   .loading{
      margin-top: 30px;
      text-align: center;
      color: #bbbbbb;
      background: #e2e2e2;
      width:80px;
      margin-left: 80px;
  }
}
// --------- /SideNav --------- //
