// Core variables and mixins
@import "mixins.less";

// --------- SideNav --------- //
.SideNav{
  .fitparent();
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 10px;
}

// --------- /SideNav --------- //
