// --------- SkillFilterView  --------- //
.SkillFilterView{
	.skill .item {
		background: #e13c5e;
	}
	.selectedItems  .clear i {
		color: #e13c5e !important;
	}
	.skill.content .skillRow {
		.contentText:hover, .contentText.active{
			background: #e13c5e;
		}
	}
}
// --------- /SkillFilterView --------- //