.ResumeView .modal-dialog {
    width: 560px;
    margin: auto;
}

.PerfView .perf-search .col-md-6 {
    width: 50%;
    float: left;
}

.Slider .bar {
	width: 268px;
	height: 10px;
	border: none;
	background-color:#b7e1e1;
}

.Slider.zero .bar {
	background-color:#ccc;
}

