<script id="AdminSearchConfig" type="text/html">
<div class="AdminSearchConfig" >
<form  method="POST" role="form">
	<h3 class="title">Search Config</h3>

    <div class="form-group">
        <textarea class="form-control search-content" rows="15"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary button">Save</button>
        <button type="button" class="btn reset  button">Reset</button>
        <div class="alert alert-danger hide search-config-alert fade"></div>
    </div>
</form>
</div>
</script>
