<script id="Organization" type="text/html">
	<div class="Organization">
		<h3 class="title">Organizations</h3>
		<div class="tab-content">

		</div>
	</div>
</script>

<script id="Organization-list" type="text/html">
	<div >
		<button class="btn btn-primary add">Add</button>
		<button class="btn home">Cancel</button>
	</div>
	<div>
		<table class="table">
			<thead>
			<tr>
				<th style="">name</th>
				<th style="">schemaname</th>
				<th style="">sfid</th>
				<th style="">app url</th>
				<th style="width:35px"></th>
			</tr>
			</thead>
			<tbody>
				{{#each list}}
				<tr >
					<td class="name"><span class="edit" data-entity="{{id}}"><a href="#org/{{id}}">{{name}}</a></span>
					</td>
					<td>{{schemaname}}</td>
					<td>{{sfid}}</td>
					<td><a href="{{../ctxUrl}}?org={{name}}">{{../ctxUrl}}?org={{name}}</a></td>
					<td><i class="f-icon-remove icon-remove glyphicon glyphicon-remove del" data-entity="{{id}}"></i></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</script>