<script id="Setup" type="text/html">
    <div class="Setup">
    	
        
        <h3 class="title">Setup</h3>
        <div>
    		<button class="btn btn-primary setupStart hide">Start</button>
    		<button class="btn btn-danger setupReset hide">Reset</button>
    	</div>
        <div class="tab-content">
			<div class="setting form-inline create">
	                <label class="left">
	                    Create System schema
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
	        <div class="setting form-inline import">
	                <label class="left">
	                  	Import Zipcode table
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
	        <div class="setting form-inline create_pg_trgm">
	                <label class="left">
	                    Create Extensions
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
	        <div class="setting form-inline import-city">
	                <label class="left">
	                	Import City
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
	        <div class="setting form-inline check-columns">
	                <label class="left ">
	                	Check if missing columns
	                </label>
	                <div class="alert alert-info">&nbsp;</div>
	        </div>
        </div>
        
    <div class="search-config">
      
    </div>
    </div>
</script>