<script id="SyncView" type="text/html">
	<div class="SyncView">
		<h3>Download Data From SalesForce</h3>
		<p>
			This operation will download data from salesforce and import into database.
		</p>
		<div class="form-group">
			<button data-action="start" type="submit" class="download btn btn-primary">Start</button>
		</div>
	</div>
</script>
