<script id="TriggerTestView" type="text/html">
	<div class="TriggerTestView">
		<form class="form-horizontal" role="form" method="post">
			<div class="form-group">
				<label class="col-lg-2 control-label">Select Org:</label>

				<div class="col-lg-5">
					<select class="form-control" name="org">
						{{#each orgs}}
						<option value="{{name}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<h4>Contact Info</h4>
			<div class="form-group">
				<label class="col-lg-2 control-label">Name:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.name" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">First Name:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.firstname" placeholder="First Name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Last Name:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.lastname" placeholder="Last Name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Phone:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.phone" placeholder="Phone">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Mobile Phone:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.mobilephone" placeholder="Mobile Phone">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Mailing City:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.mailingcity" placeholder="City">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Mailing Postal Code:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.mailingpostalcode" placeholder="Postal Code">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Mailing State:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.mailingstate" placeholder="State">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Mailing Street:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.mailingstreet" placeholder="Street">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Mailing Country:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.mailingcountry" placeholder="Country">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Fax:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.fax" placeholder="Fax">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Title:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.title" placeholder="title">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Email:</label>

				<div class="col-lg-5">
					<input type="text" class="form-control" name="test.email" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Skills:</label>
				<div class="col-lg-5">
					<input type="text" class="form-control" name="skills" placeholder="Skills">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Education:</label>
				<div class="col-lg-5">
					<input type="text" class="form-control" name="educations" placeholder="Education">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Company</label>
				<div class="col-lg-5">
					<input type="text" class="form-control" name="companies" placeholder="Company">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Resume</label>
				<div class="col-lg-5">
					<textarea class="form-control" rows="3" name="test.ts2__text_resume__c"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-5">
					<button type="submit" class="btn btn-default">Save</button>
				</div>
			</div>
		</form>
	</div>
</script>
